<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>147996392452-b0dk8sre7kp16m5lc1g77i21o31k0is8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147996392452-b0dk8sre7kp16m5lc1g77i21o31k0is8</string>
	<key>API_KEY</key>
	<string>AIzaSyDO1gOeOwmOwTj7Hq20MSe3sldW-EuL8LI</string>
	<key>GCM_SENDER_ID</key>
	<string>147996392452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hk.com.jtsoft.Style-Fix</string>
	<key>PROJECT_ID</key>
	<string>style-fix</string>
	<key>STORAGE_BUCKET</key>
	<string>style-fix.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:147996392452:ios:37956368d9215651</string>
	<key>DATABASE_URL</key>
	<string>https://style-fix.firebaseio.com</string>
</dict>
</plist>